.tableWrapper {
  width: 4500px;
  aspect-ratio: 16/9;
  position: relative;
  padding: 150px;
  overflow: hidden;

  textarea {
    font-family: var(--ion-font-family);
    font-size: 70px;
    overflow: visible;
    line-height: 80px;
    font-weight: 500;
    min-height: 100px;
    color: var(--textAreaColor);
    border: none;
    text-align: center;
  }

  .background {
    svg {
      bottom: -1300px !important;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .name {
      margin-top: 50px;
      input {
        background: none;
        border: none;
        outline: none;
        font-family: var(--header-font-family);
        text-transform: uppercase;
        font-size: 150px;
        line-height: 200px;
      }

      .date,
      .text {
        padding-left: 50px;
        padding-right: 100px;
        width: fit-content;
        width: fit-content;
        height: 250px;
      }

      .date {
        margin-top: -10px;
        height: 200px;
        border-bottom-right-radius: 100px;
      }

      .text {
        border-top-right-radius: 100px;
        margin-bottom: -10px;
        input {
          line-height: 270px;
        }
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;

    input {
      font-family: var(--ion-font-family);
      font-weight: 600;
      text-align: center;
      background: none;
      outline: none;
      border: none;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 1100px;
      width: fit-content;
      position: relative;
      z-index: 100;
      border-radius: 50px 250px 50px 50px;
      padding: 0 50px;

      .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .teamLogo {
          width: 500px;
          height: 500px;
          border-radius: 50%;
          background: #9e9e9e;
        }

        textarea {
          margin-top: 30px;
          font-size: 80px;
          width: 800px;
          text-align: center;
          background: none;
        }
      }

      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1000px;

        .date {
          font-size: 55px;
          text-transform: uppercase;
        }

        .time {
          width: 850px;
          height: 350px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-right-radius: 100px;
          margin-top: 40px;
          margin-bottom: 50px;

          input {
            width: 800px;
            font-size: 200px;
            font-weight: 700;
          }
        }

        .stadium {
          font-size: 55px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}
