.tableWrapper {
  width: 4000px;
  height: fit-content;
  position: relative;
  padding: 150px 0;

  .content {
    width: 85%;
    height: 100%;
    margin: 0 auto;

    input {
      font-family: var(--ion-font-family);
    }

    .region {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      transform: scale(0.9);
    }

    .head {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 2;
      height: 230px;
      padding: 0 50px;
      position: relative;

      .team {
        min-width: 1000px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        gap: 90px;

        .inputTeamName {
          color: var(--igr-subTitleFont);
          font-size: 60px;
          margin: 0;
          width: 100%;
          text-align: start;
          font-family: var(--header-font-family);
          white-space: pre-wrap;
        }

        .teamLogo {
          overflow: visible !important;
        }

        &.home {
          border-radius: 15px 0 0 15px;

          .teamLogo {
            margin-left: -100px;
          }

          .borderForm {
            position: absolute;
            left: -113px;
            top: -4px;
            z-index: -1;

            &.teamColor {
              z-index: -2;
              top: -3px;
              left: -140px;
            }
          }
        }

        &.away {
          border-radius: 0 15px 15px 0;

          .teamLogo {
            margin-right: -100px;
          }

          .inputTeamName {
            text-align: end;
          }

          .borderForm {
            position: absolute;
            right: -113px;
            top: -4px;
            z-index: -1;

            &.teamColor {
              z-index: -2;
              top: -3px;
              right: -140px;
            }
          }
        }
      }

      .score {
        height: 100%;
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 120px;
        color: #fff;
        border-radius: 0 100px 0 0;
        background: #0481fe;

        input {
          color: #fff;
          height: 100%;
          width: 500px;
          text-align: center;
          font-weight: 700;
          font-size: 160px;
        }
      }
    }

    .body {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      padding: 50px 20px;
      position: relative;
      min-height: 210px;

      .bodyTitle {
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        margin: auto;
        display: flex;
        justify-content: center;
        input {
          font-size: 60px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          width: 900px;
          text-align: center;
        }
      }
    }
  }
}
